/*Botones de Borrar*/

button[type=reset] {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
button[type=reset]:hover {
  background: #d3af71;
}

.menu {
  background: url("../img/musica-bg.jpg") center center;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.menu:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.specials {
  background: url("../img/riberasacara_bg.jpg") center center;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.specials:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}